# Ignore node_modules folders
node_modules/

# Ignore environment variable files
.env

# Ignore build files
client/build/
server/dist/

# Ignore logs
*.log

# Ignore other OS-specific or editor-specific files
.DS_Store
.vscode/
